<div id="top-menu" class="clearfix">
  <div id="account">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to t("sign_out"), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t("sign_in"), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <% if user_signed_in? %>
    <div id="loggedas">
      <%= t "logged_in_as" %>
      <strong class="user active">
        <%= link_to current_user.email, current_user %>
      </strong>
    </div>
  <% end %>
</div>
